<form [formGroup]="icapPrincipalForm" (ngSubmit)="createUser()" autoscroll="true">
    <ion-card class="card-section">
      <ion-card-header class="blue-component">
        <ion-card-subtitle color="light">Información personal</ion-card-subtitle>
      </ion-card-header>
      <ion-item lines="full">
        <ion-label class="card-label" position="stacked">Nombre</ion-label>
        <ion-input type="text" formControlName="personal_name" placeholder="Solo digite letras" (ionChange)="incCount()"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="card-label" position="stacked">Primer apellido</ion-label>
        <ion-input type="text" formControlName="personal_first_last_name" placeholder="Solo digite letras" (ionChange)="incCount()"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="card-label" position="stacked">Segundo apellido</ion-label>
        <ion-input type="text" formControlName="personal_second_last_name" placeholder="Solo digite letras" (ionChange)="incCount()"></ion-input>
      </ion-item>
      <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Identificación</ion-label>
          <ion-input type="number" formControlName="personal_id" placeholder="Solo digite números" (ionChange)="incCount()"></ion-input>
      </ion-item>
      
      <ion-item lines="full">
        <ion-label class="card-label" position="stacked">Fecha de nacimiento</ion-label>
        <ion-datetime doneText="Guardar" cancelText="Cancelar" value="1990-01" min="1910-01" displayFormat="DD MMM YYYY"
          monthShortNames="{{customMonthNames}}" (ionChange)="onBirthDateChange($event)">
        </ion-datetime>
      </ion-item>
    
      <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Teléfono fijo</ion-label>
          <ion-input type="number" formControlName="personal_phone_number" min="8" max="8" placeholder="Solo digite números" (ionChange)="incCount()"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="card-label" position="stacked">Teléfono celular</ion-label>
        <ion-input type="number" formControlName="personal_celphone_number" min="8" max="8" placeholder="Solo digite números" (ionChange)="incCount()"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card class="card-section">
      <ion-card-header class="blue-component">
        <ion-card-subtitle color="light">Ubicación geográfica</ion-card-subtitle>
      </ion-card-header>
      <ion-item lines="full">
        <ion-label class="card-label" position="stacked">Provincia</ion-label>
        <ion-input type="text" formControlName="personal_address1" placeholder="Ingrese una provincia" (ionChange)="incCount()"></ion-input>
      </ion-item>
      <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Cantón</ion-label>
          <ion-input type="text" formControlName="personal_address2" placeholder="Ingrese un cantón" (ionChange)="incCount()"></ion-input>
      </ion-item>
      <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Distrito</ion-label>
          <ion-input type="text" formControlName="personal_address3" placeholder="Ingrese un distrito" (ionChange)="incCount()"></ion-input>
      </ion-item>
      <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Dirección exacta</ion-label>
          <ion-input type="text" formControlName="personal_address4" placeholder="Ingrese una dirección" (ionChange)="incCount()"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card class="card-section">
      <ion-card-header class="blue-component">
        <ion-card-subtitle color="light">Evaluación</ion-card-subtitle>
      </ion-card-header>
      <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Institución</ion-label>
          <ion-input type="text" formControlName="evaluation_institute" placeholder="Ingrese un nombre" (ionChange)="incCount()"></ion-input>
      </ion-item>
      <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Persona que evalúa</ion-label>
          <ion-input type="text" formControlName="evaluation_evualator" placeholder="Ingrese un nombre" (ionChange)="incCount()"></ion-input>
      </ion-item>
      <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Teléfono fijo</ion-label>
          <ion-input type="number" formControlName="evaluation_phone_number" min="8" max="8" placeholder="Solo digite números" (ionChange)="incCount()"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="card-label" position="stacked">Teléfono celular</ion-label>
        <ion-input type="number" formControlName="evaluation_celphone_number" min="8" max="8" placeholder="Solo digite números" (ionChange)="incCount()"></ion-input>
      </ion-item>
      <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Fecha de evaluación</ion-label>
          <ion-datetime doneText="Guardar" cancelText="Cancelar" value="1990-01" min="1910-01" displayFormat="DD MMM YYYY"
            monthShortNames="{{customMonthNames}}" (ionChange)="onEvaluationDateChange($event)">
          </ion-datetime>
      </ion-item>
    </ion-card>

    <ion-card class="card-section">
        <ion-card-header class="blue-component">
          <ion-card-subtitle color="light">Familiar o encargado</ion-card-subtitle>
        </ion-card-header>
        <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Nombre</ion-label>
          <ion-input type="text" formControlName="relative_name" placeholder="Solo digite letras" (ionChange)="incCount()"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Primer apellido</ion-label>
          <ion-input type="text" formControlName="relative_first_last_name" placeholder="Solo digite letras" (ionChange)="incCount()"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Segundo apellido</ion-label>
          <ion-input type="text" formControlName="relative_second_last_name" placeholder="Solo digite letras" (ionChange)="incCount()"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Teléfono fijo</ion-label>
          <ion-input type="number" formControlName="relative_phone_number" min="8" max="8" placeholder="Solo digite números" (ionChange)="incCount()"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label class="card-label" position="stacked">Teléfono celular</ion-label>
          <ion-input type="number" formControlName="relative_celphone_number" min="8" max="8" placeholder="Solo digite números" (ionChange)="incCount()"></ion-input>
        </ion-item>
      </ion-card>
    
    <ion-footer>
        <ion-grid class="no-padding-bot">
          <ion-row class="no-padding-bot ">
            <ion-col class="no-padding-bot ">
              <ion-button expand="block" class="submit-button blue-component" (click)="closeModal()">Volver</ion-button>
            </ion-col>
            <ion-col class="no-padding-bot ">
              <ion-button expand="block" class="submit-button blue-component" (click)="navigateToOtherPage('/icap-a')">Siguiente</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-footer>
  </form>