<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
    <section>
        <ion-label class="card-label" position="stacked">Cédula o Email</ion-label>
        <ion-item lines="full">
          <ion-icon name="person" class="logo-right-padding"></ion-icon>
          <ion-input [(ngModel)]="id" type="text" class="left-padding" placeholder="Ingrese la cédula o email">
          </ion-input>
        </ion-item>
      </section>
</ion-content>

<ion-footer>
  <ion-grid class="no-padding-bot">
    <ion-row class="no-padding-bot ">
      <ion-col class="no-padding-bot ">
        <ion-button expand="block" class="submit-button blue-component" (click)="sendEmail()">Confirmar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>