<app-sidemenu></app-sidemenu>
<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Notas Médicas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-justify-content-center bottom-border" nowrap *ngFor="let medicalNote of medicalNotes">
        <ion-col size="0.1" class="ion-align-self-center pl">
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-label>
              <h3 class="medicalNote-title">{{medicalNote.medNote_title}}</h3>
              <p class="ion-text-wrap medicalNote-desc"><span class="bold">Descripción: </span> {{medicalNote.medNote_desc}} </p>
              <p class="medicalNote-patient"><span class="bold">Paciente: </span>{{medicalNote.medNote_patient}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
