<form [formGroup]="icapDForm" (ngSubmit)="createUser()">
  <ion-card class="card-section">
    <ion-card-header class="blue-component">
      <ion-card-subtitle color="light">Destrezas motoras</ion-card-subtitle>
    </ion-card-header>
    <ion-label>Realiza (o podría realizar) estas conductas completamente sin apoyo ni supervisión:<br/></ion-label>
    <ion-label><br/>0. Nunca o rara vez (aún pidiéndoselo).</ion-label>
    <ion-label><br/>1. La realiza, aunque no bien (1/4 de las veces).</ion-label>
    <ion-label><br/>2. La realiza bien (3/4 de las veces).</ion-label>
    <ion-label><br/>3. La realiza muy bien (siempre o casi siempre)<br/>.</ion-label>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Coge objetos pequeños con las manos</ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Pasa objetos pequeños de una mano a la otra</ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Se sienta solo(a), manteniendo la cabeza y <br/> la espalda derechas y firmes (sin apoyo) <br/>durante treinta segundos<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Se mantiene de pie, al menos durante cinco <br/>segundos, apoyándose en muebles u otros <br/> objetos<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Se pone en pie por sí mismo(a)</ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Mete objetos pequeños en recipientes y los <br/>vuelve a sacar después<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Se mantiene de pie sin apoyo y camina, <br/>al menos, unos dos metros<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Hace rayas, marcas o garabatos, con lápiz o <br/>pinturas, en una hoja de papel<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Quita el envoltorio de objetos pequeños, <br/>como chicles o confites<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Gira los llavines de las puertas y las abre</ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Sube y baja gradas (aunque sea <br/>agarrándose al pasamanos) alternando <br/>los pies de un escalón a otro<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Sube por una escalera de dos metros de altura</ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Corta con tijeras siguiendo <br/>una línea recta y gruesa<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Escribe su nombre copiándolo de un modelo</ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Levanta y lleva una bolsa llena de alimentos <br/>por lo menos a una distancia de seis metros <br/>y lo deposita en el suelo<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Dobla una hoja de tamaño carta en tres <br/>partes iguales, la introduce en un sobre <br/>y luego lo cierra<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Enhebra una aguja de coser</ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Arma objetos de por lo menos diez piezas, <br/>que deben ser atornilladas o encajadas <br/>entre sí con tuercas y tornillos<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
  </ion-card>


  <!-- DESTREZAS SOCIALES Y COMUNICATICAS------------------------------------------------------------------------------------------------>

  <ion-card class="card-section">
    <ion-card-header class="blue-component">
      <ion-card-subtitle color="light">Destrezas sociales y comunicativas</ion-card-subtitle>
    </ion-card-header>
    <ion-label>Realiza (o podría realizar) estas conductas completamente sin apoyo ni supervisión:<br/></ion-label>
    <ion-label><br/>0. Nunca o rara vez (aún pidiéndoselo).</ion-label>
    <ion-label><br/>1. La realiza, aunque no bien (1/4 de las veces).</ion-label>
    <ion-label><br/>2. La realiza bien (3/4 de las veces).</ion-label>
    <ion-label><br/>3. La realiza muy bien (siempre o casi siempre)<br/>.</ion-label>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Emite sonidos o gesticula para llamar la <br/>atención<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Estira los brazos buscando a la persona con <br/>la que desea contactar<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Cuando se le llama por su nombre, gira la <br/>cabeza hacia quien le llama<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Cuando se le pide, imita acciones, tales <br/>como despedirse o aplaudir<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Entrega juguetes u otros objetos a otra <br/>persona<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Indica "sí" o "no" moviendo la cabeza, o de <br/>cualquier otra manera, para responder a <br/>preguntas sencillas<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Señala objetos o personas conocidas en una <br/>lámina, cuando se le pide<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Comunica al menos diez palabras, que <br/>pueden ser comprendidas por alguien <br/>que le conozca bien<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Formula preguntas simples</ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Expresa frases u oraciones usando de tres <br/>a cuatro palabras<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">En actividades grupales, espera por lo <br/>menos dos minutos a que le llegue su turno<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Ofrece apoyo a otras personas</ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Se comporta de una manera adecuada, sin <br/>llamar la atención de los demás, cuando <br/>está con sus amigos en lugares públicos<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Reacciona correctamente ante la mayoría de <br/>las señales, rótulos o símbolos más comunes<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Cuenta de manera resumida una historia, <br/>de forma que otra persona pueda entenderla<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Recuerda o localiza números, nombres o <br/>imágenes del teléfono y llama a familiares <br/>y amigos<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Escribe en forma comprensible, cartas, <br/>notas o correos electrónicos<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Localiza la información que necesita en las <br/>páginas amarillas de la guía telefónica o en <br/>los anuncios clasificados del periódico<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">LLama a un servicio de reparaciones o al <br/>responsable de la vivienda, cuando se <br/>descompone algo importante en su casa<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
  </ion-card>


  <!-- DESTREZAS DE VIDA PERSONAL------------------------------------------------------------------------------------------------>

  <ion-card class="card-section">
    <ion-card-header class="blue-component">
      <ion-card-subtitle color="light">Destrezas de vida personal</ion-card-subtitle>
    </ion-card-header>
    <ion-label>Realiza (o podría realizar) estas conductas completamente sin apoyo ni supervisión:<br/></ion-label>
    <ion-label><br/>0. Nunca o rara vez (aún pidiéndoselo).</ion-label>
    <ion-label><br/>1. La realiza, aunque no bien (1/4 de las veces).</ion-label>
    <ion-label><br/>2. La realiza bien (3/4 de las veces).</ion-label>
    <ion-label><br/>3. La realiza muy bien (siempre o casi siempre)<br/>.</ion-label>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Traga alimentos blandos</ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Coge y come alimentos como galletas<br/> o papas fritas<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Estira sus brazos y piernas cuando se viste, <br/>para facilitar la tarea<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Mantiene sus manos bajo el chorro de agua <br/>para lavárselas, cuando está frente al lavatorio<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Come alimentos sólidos usando la cuchara,<br/> sin derramar casi nada<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Permanece sin orinarse al menos durante <br/>tres horas<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Se quita el pantalón o la enagua y la ropa <br/>interior<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Evacúa cuando se le sienta en la taza de <br/>acuerdo con un horario regular o cuando <br/>se le lleva al servicio sanitario<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Se pone camisetas o suéteres, aunque sea <br/>al revés<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Hace uso del servicio sanitario, quitándose <br/>y poniéndose la ropa<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Cierra la puerta del servicio sanitario, si es <br/>preciso, cuando hace uso de la taza<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Se viste por sí mismo(a), completa y <br/>correctamente, icluyendo botones, <br/>fajas, zipper y cordones de los zapatos<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Utiliza el cuchillo para cortar alimentos, en <br/>vez de tratar de comer trozos demasiado <br/>grandes<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Se enjabona, enjuaga y seca el pelo</ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Lava, seca y luego guarda los platos en <br/>su lugar<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Prepara y combina comidas simples, como <br/>huevos fritos o sándwiches<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Arregla su dormitorio, lo cual incluye guardar <br/>la ropa, cambiar las sábanas, quitar el polvo <br/>y barrer el piso<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Hace una lista de por lo menos seis <br/>productos para comprar en el <br/>supermercado o pulpería<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Coloca ropa en una lavadora y la pone a <br/>funcionar, utilizando la cantidad de <br/>detergente y el ciclo apropiado<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Planifica, prepara y sirve una comida <br/>completa para más de dos personas<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Realiza pequeños arreglos de su ropa, como <br/>hacer un remiendo o pegar un botón<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
  </ion-card>



  <!-- DESTREZAS DE VIDA EN COMUNIDAD------------------------------------------------------------------------------------------------>

  <ion-card class="card-section">
    <ion-card-header class="blue-component">
      <ion-card-subtitle color="light">Destrezas de vida en comunidad</ion-card-subtitle>
    </ion-card-header>
    <ion-label>Realiza (o podría realizar) estas conductas completamente sin apoyo ni supervisión:<br/></ion-label>
    <ion-label><br/>0. Nunca o rara vez (aún pidiéndoselo).</ion-label>
    <ion-label><br/>1. La realiza, aunque no bien (1/4 de las veces).</ion-label>
    <ion-label><br/>2. La realiza bien (3/4 de las veces).</ion-label>
    <ion-label><br/>3. La realiza muy bien (siempre o casi siempre)<br/>.</ion-label>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Encuentra juguetes u objetos que se <br/>guardan siempre en el mismo lugar<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Va solo(a) a un determinado cuarto cuando <br/>se le manda<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Indica cuando ha finalizado una tarea <br/>rutinaria o que se le encargó<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Permanece sin alejarse durante diez <br/>minutos, en un patio o parque sin malla, <br/>cuando se espera que lo haga<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Usa correctamente las palabras "mañana" <br/>y "noche"<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Intercambia un objeto por dinero o por otro <br/>objeto de valor<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Compra objetos, que cuestan al menos cien <br/>colones<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">En su barrio, cruza calles o por esquinas sin <br/>señalizar, sin que nade le acompañe<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Compra las cosas que se le piden cuando va<br/> a hacer un mandado, aunque es posible que <br/>no cuente el cambio correctamente<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Dice la fecha completa de su nacimiento</ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Usa diariamente un reloj para hacer cosas a<br/> una hora determinada<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Cuenta con precisión el vuelto, después de <br/>comprar algo con una moneda de quinientos <br/>colones<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Maneja herramientas manuales eléctricas, <br/>potencialmente peligrosas, y aparatos de <br/>piezas móviles<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Cumple con las citas que han sido fijadas <br/>por lo menos tres días antes, anotándolas <br/>si es necesario<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Administra su dinero de forma que cubra los <br/>gastos de, por lo menos, una semana<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Trabaja en una tarea a ritmo regular, por lo <br/>menos durante dos horas<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Rellena formularios y asiste a entrevistas de <br/>selección para buscar trabajo<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Efectúa los pagos de recibos</ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="card-label" position="stacked">Hace balance mensual de su cuenta <br/>bancaria o libreta de ahorros<br/><br/></ion-label>
      <ion-input type="number" formControlName="name" placeholder="Digite un número del 0 al 3."></ion-input>
    </ion-item>
  </ion-card>

  <ion-card class="card-section">
      <ion-card-header class="blue-component">
          <ion-card-subtitle color="light"> Comentarios </ion-card-subtitle>
      </ion-card-header>
      <ion-item>
          <ion-textarea></ion-textarea>
      </ion-item>
  </ion-card>

  <ion-footer>
      <ion-grid class="no-padding-bot">
        <ion-row class="no-padding-bot ">
          <ion-col class="no-padding-bot ">
            <ion-button expand="block" class="submit-button blue-component" (click)="navigateToOtherPage('/icap-c')">Anterior</ion-button>
          </ion-col>
          <ion-col class="no-padding-bot ">
            <ion-button expand="block" class="submit-button blue-component" (click)="navigateToOtherPage('/icap-e')">Siguiente</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-footer>
</form>
