<ion-header>
  <ion-toolbar>
    <ion-title text-center>Agregar recordatorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input placeholder="Regar las plantas" slot="end"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fecha</ion-label>

    <ion-datetime min="2019-09-04" max="2022"
    [dayShortNames]="customDayShortNames"
    displayFormat="DD/MM/YYYY"
    monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Set, Oct, Nov, Dic"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Hora</ion-label>

    <ion-datetime format="a" displayFormat="HH:mm"></ion-datetime>
  </ion-item>
</ion-content>

<ion-button color="primary">Agregar</ion-button>
